@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos generales */
body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url('/aaa.avif');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  display: flex;
  gap: 0.8rem; 
  animation: infinite-scroll 35s linear infinite;
  will-change: transform;
}

/* Estilo para navegadores que soportan scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
  height: 8px; /* Altura de la barra (para desplazamiento horizontal) */
}

::-webkit-scrollbar-track {
  background: #e3e3e3; /* Color del fondo de la barra */
}

::-webkit-scrollbar-thumb {
  background: #c8c8c8; /* Color degradado del "pulgar" */
}

::-webkit-scrollbar-thumb:hover {
  background: #afafaf; /* Color degradado del "pulgar" */
}

/* Opcional: Para ocultar la barra en elementos específicos */
.hidden-scrollbar {
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}



